@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
title{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
body{
    font-family: Arial, sans-serif;
    background-color: #9955BB;
    margin: 0;
    padding: 20px;
}
h1{
    color: #FFFFFF;
    text-align: center;
    border-style: outset;
    border-color: #000000;
    border-width: 2px;
}